<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="footer-text">
                        <span>Slipseknuden</span>
                        <span>Slipsevej 79</span>
                        <span>4300</span>
                        <span>Holbæk</span>
                        <span>info@slipseknuden.dk</span>
                        <span>www.slipseknuden.dk</span>
                        <span>Tlf: 88 99 66 44</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

