<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
			<div class="col-md-2" >
					  <i class="icon-search"></i>
					  <input type="search" id="search" class="form-control" placeholder="Søg..." />
				  </div>
			<div class="col-md-2 col-md-offset-1">
			<img src="./img/logo.png" alt="" id="logo">
		</div>
		<div class="col-md-1 col-md-offset-2"></div>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>

		</div>
	

			<div class="container-nav"></div>
		<ul class="nav navbar-nav">
			<li><a href="/" class="navKnapper">Hjem</a></li>
			<li><a href="/om-slipseknuden" class="navKnapper">Om Slipseknuden</a></li>
			<li><a href="/garanti" class="navKnapper">Garanti</a></li>
			<li><a href="/produkter" class="navKnapper">produkter</a></li>
		</ul>

		

	  
	</div>
</nav>
