<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head %>
</head>
<body>
    <header>
            <% include ../partials/header %>
    </header>
    <main>
        
            <div class="container4">
            <h1>Reklamation</h1>
            <p>slipseknuden.eu kontrollerer alle varer inden afsendelse. Skulle der alligevel være fejl ved en ekspedition henvises til den returseddel, der følger med din ordre. Denne returseddel udfyldes og returneres sammen med varerne. Varer der returneres med reklamation, bliver repareret eller erstattet af en ny leverance indenfor 7 dage fra modtagelsen. Haves erstatningsvare ikke, vil det betalte beløb blive krediteret indenfor 7 dage. Derudover gælder naturligvis den 2-årige reklamationsfrist i henhold til købeloven.</p>
            <p>Du er også velkommen til at kontakte vores kundeservice på salg@slipseknuden.eu eller tlf. (+45) 5944-1234. Vi beder dig have dit ordrenummer ved hånden.</p>
        
            <h3>Returadressen er:</h3>
            <p>Slipseknuden</p>
            <p>Slipsevej 79</p>
            <p>4000 Holbæk</p>
            <p>Telefon: 5944-1234</p>
            <p>slips@slipseknuden.dk</p> 
            <img src="./img/billede1.jpg" alt="" id="garantiBillede">
        </div> 
                
                        
    </main>
    <footer>
            <% include ../partials/footer %>
    </footer>
</body>
</html>