<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header><% include ../partials/header %>
    </header>
    <main>
        <img src="./img/354b6-1_Ties_B.jpg" alt="" width="100%">

<div class="indexProdukter"></div> 
<div class="myDiv2"></div> 


<div class="container2">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
            <h1>Hvor startede det hele henne - hvem var de første der bar slips?</h1>
            <p>Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. regerede Frankrig, for at finde starten på det hele. Kongen gik utrolig meget op i mode og beklædning. Efter at kroatiske soldater havde besejret Det Osmanniske Rige, deltog kongen i et optog hvor alle soldaterne skulle gå forbi. Her bemærkede han at alle soldaterne bar et stykke rødt stof om halsen. Kongen var så begejstret for det lille stykke klæde, at han valgte at hans kongelige regiment skulle bære halsklude i farven rød. Halskluden blev hurtig populær i resten af Europa, og var man en herre med stil, skulle man bære det. Efterhånden som tiden gik og moden skiftede, blev kluden mere kraftig. Da man når til 1800 tallet, var der en modeskaber fra England, som af pratiske årsager valgte at gøre kluden mindre, så den ikke var så fremtrædende - det har udviklet sig til det vi i dag kalder slips. I dag er det ikke længere noget der kun bæres af en bestemt gruppe mennesker eller til jakkesæt. I dag bæres det af mange forskellige typer mennesker og slips findes i næsten lige så mange udgaver.</p>
    </div>

</div>
</div>


<div class="container3">
        <h2>Nyheder</h2>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            
            <h3>Lorem</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia eos, eligendi nesciunt consequuntur beatae similique cum ipsam excepturi corporis consectetur sint officiis quam ullam itaque praesentium ex natus ad possimus? </p>
            <h3>Lorem</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro laboriosam, commodi, numquam, alias distinctio eius ipsam cumque impedit nemo deserunt unde illum mollitia blanditiis id corporis atque magnam repudiandae incidunt! </p>
        </div>
        <div class="col-md-3 col-md-offset-2">
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia eos, eligendi nesciunt consequuntur beatae similique cum ipsam excepturi corporis consectetur sint officiis quam ullam itaque praesentium ex natus ad possimus? </p>
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro laboriosam, commodi, numquam, alias distinctio eius ipsam cumque impedit nemo deserunt unde illum mollitia blanditiis id corporis atque magnam repudiandae incidunt! </p>
            </div>
    </div>
</div> 



    </main>
    <footer>
            <% include ../partials/footer %>
    </footer>
    <script src="./javascript/index.js"></script>
    <script src="./javascript/produkter.js"></script>
</body>
</html>

